*{
    box-sizing: border-box;
    font-family: Karla;
}

main{
    width:calc(360px * 2);
    height:auto;
    margin:10vh auto;
    background-color: #0B2434;
    padding:60px 40px;
}

#card{
    width:640px;
    height:auto;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding-bottom: 40px;
}

#dies{
    display:flex;
    flex-wrap: wrap;
    margin:46px 70px;
    padding: 0px;
}

.die{
    width:70px;
    height:70px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    margin: 15px;
    border-radius: 4px;
    cursor:pointer;
    padding: 13px 10px;
}

.die:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#rollButton{
    color:white;
    background-color: #5035FF;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border:1px solid transparent;
    border-radius: 6px;
    display: block;
    margin:auto;
    width:180px;
    height:70px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

#rollButton:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#header{
    color:white;
    margin: auto;
    text-align: center;
}

#dotOne, #dotTwo, #dotThree, #dotSix{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 2px;
}

#dotOne{
    display:block;
    margin:33% auto;
}

#dotTwo{
    margin-left:15%;
    margin-top:33%;
    column-gap: 10px;
}

#dotThree{
 margin-top:33%;
}

#dotFour{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px 15px;
}

#dotFive{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap:5px;
}

#fiveUp, #fiveMiddle, #fiveBottom{
    display:flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.dot{
    width:12px;
    height:12px;
    background-color:black;
    border-radius: 50%;
    box-shadow: white 0px 1px 3px, gray 0px 1px 2px;
}







@media only screen and (max-width : 600px) {
    main{
        width:calc(360px);
    }

    #card{
        width:320px;
    }

    #dies{
        margin:30px 35px;
        padding-top: 25px;
    }

    .die{
        width:40px;
        height:40px;
        margin: 5px;
    }

    .die p{
        font-size: 14px;
    }

    main{
        padding:30px 20px;
    }

    #rollButton{
        font-size: 20px;
    }

    .dot{
        width:6px;
        height:6px;
    }

    .die{
        padding: 6px 5px;
    }

    #dotSix{
        gap: 18px 5px;
    }

    #dotFour{
        gap:18px 15px;
    }

    #fiveUp, #fiveBottom{
        gap: 15px;
    }

    #dotOne, #dotTwo, #dotThree{
        margin-top:38%;
    }

    #dotTwo{
        margin-left:12%;
    }
}